body {
     margin: 2em;
    
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/akshar-dave-1GRvY9WUu08-unsplash.jpg');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 35%;
    width: 100%;
    height: 150vh;
    z-index: -1;
    animation: introLoad 2s forwards;
    // overflow: hidden;
}
.logo {
    color:#9417d2 ;
    font-weight: bold;
    
}

nav{
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type:none;
        padding: 0;
        margin-top: 8em;


        a {
            color:rgb(0, 179, 255);
            padding: .75em 2em;
            display: block;
            

            &:hover {
                background:rgb(236, 210, 250);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.75em;
    }
}

header {
    display:flex;
    justify-content: space-between;

    svg {
        width: 2em;
        margin-top: -.6em;
        cursor:pointer;
    }

}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.subhead {
    font-size: 1.4rem;
}

section.hero {
    color:rgb(7, 13, 15);
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .heart {
        stroke:#9417d2;
        position:static;
        bottom: 7em;
        width: 4em;
        animation: moveHeart 1s alternate-reverse infinite;
        path {
            fill:#9417d2
        }
    }
}

.more-info {
    img {
        width: 100%;
        object-fit:cover;
        height: 30em;
    }

    .title {
        font-weight: bold;
        font-size: 2rem;
    }
    .desc {
        line-height: 1.7rem;
        font-size: 1.2rem;
    }
}

.open-nav {
    transform: translateX(0);
}


@media only screen and (min-width: 680px) {
    body {
        margin: 1.5em 5em;
       
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
}

@media only screen and (min-width: 920px) {
    
      .menu {
          display: none;
      }
      nav {
          transform: translateX(0);
          position: unset;
          display: block;
          width: auto;
          height: auto;
          background: none;

          svg.close {
              display: none;
          }

          ul {
              display: flex;
              margin: 0;


              a {
                  color: #9417d2;
                  padding: .5em 1.5em;
                  font-size: 1.2rem;

                  &:hover {
                      background: none;
                      text-decoration: underline;
                  }
              }
          }

      }

      .hero-img {
          left: unset;
          right: 0;
          width: 60%;
          height: 50em;
      }

      .logo {
          color: #9417d2;

          span {
              color: rgb(133, 199, 250)
          }
          
      }
      section.hero {
          color: black;
          height: auto;
          width:  40%;
          margin-bottom: 8em;

          svg.heart{
              color: #9417d2;
              position: unset;

              path {
                  fill: #9417d2;
              }
          }
      } 

      .feature {
          display:  grid;
          grid-template-columns: repeat(2,auto);
          gap: 3em;
          margin-bottom: 8em;
          margin-top: 12em;

          img {
              width:  25em;
          }

          .content {
              text-align: right;
              width: 25em;
              
          }
      }
      .feature.left {
          grid-template-areas: 
            "left right";

          img {
              grid-area: left;
          }

          .content {
              text-align: left;
              width:  25em;
              justify-self: left ;
          }
      }
}
@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin:  0 auto;

    }
    .feature {
        gap: 0;
    }
}


@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}



@keyframes moveHeart {
    from {
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}







// body {
//     background-color: pink;
    
// }

// img {
//     width: 100%;
// }
